body {
  background-color: darkslategrey;
}

.content {
  display: inline-flex;
}

.card {
  width: 200px;
  height: 400px;
  background-color: lavender;
  border-radius: 10px;
  margin: 15px;
}
.card img {
  width: 100%;;
}

.card-time {
  background-color: cadetblue;
}